language = "nix"
run = "node index.js"

[[ports]]
localPort = 3000
externalPort = 80
description = "Minecraft Bot Web Interface"

[[ports]]
localPort = 3001
externalPort = 3001
description = "Express Server"
